<%= render 'layouts/admin_navigation' %>

<br><br><br><br>
<div class="container section">
  <div class="row center card card-padding">
    <% flash.each do |message_type, message| %>
    <div class="card-panel teal-gradient <%= message_type %>">
      <span class="white-text center"><%= message %></span>
    </div>
    <div class="divider"></div>
    <% end %>
    <a class="white-text" href="/fest_manage/make/location/destroy/<%= @post_post.id %>"><button class="btn btn-lg btn-primary btn-large">데이터를 삭제하시려면 이곳을 클릭해주십시오.</a></button>
    <form action="/fest_manage/make/location/update/<%= @post_post.id %>" method="POST" entype="multipart/form-data">
      <div class="input-field col s12">
        <label for="boothname">부스/주점 이름</label>
        <input name="title" type="text" class="validate" id="boothname" value="<%= @post_post.title %>" required>
      </div>
      <div class="input-field col s12 m6 l6">
        <select name="date" required>
          <option disabled selected>날짜 선택</option>
          <% if @post_post.date == 25 then %>
          <option value="25" selected>25일</option>
          <% elsif @post_post.date == 26 then %>
          <option value="26" selected %>>26일</option>
          <% else %>
          <option value="27" selected>27일</option>
          <% end %>
        </select>
      </div>
      <div class="input-field col s12 m6 l6">
        <select name="day" required>
            <option disabled selected>낮/밤 구분</option>
            <% if @post_post.day == '낮' then %>
            <option value="낮" selected>낮</option>
            <% else %>
            <option value="밤" selected>밤</option>
            <% end %>
            </optgroup>
        </select>
      </div>
      <div class="row">
        <div class="input-field col s12 m6 l6">
            <input name="location_x" id="input_text" type="text" required value='<%=@post_post.x_loc%>'>
            <label for="input_text">TOP 좌표 rem 단위 입력(ex. 300)</label>
        </div>
        <div class="input-field col s12 m6 l6">
            <input name="location_y" id="input_text" type="text" required value='<%=@post_post.y_loc%>'>
            <label for="input_text">LEFT 좌표 rem 단위 입력(ex. 300)</label>
        </div>
        <div class="input-field col s12">
          <label for="comment">메뉴</label>
          <textarea name="menu" class="materialize-textarea" rows="8" required id="comment"><%= @post_post.menu %></textarea>
        </div>
      </div>
      <div class="file-field input-field">
         <div class="btn">
           <span>이미지 첨부</span>
           <input type="file">
         </div>
         <div class="file-path-wrapper">
           <input id="input-dim-1" class="file-path validate" type="text" placeholder="파일 첨부" accept="image/*">
         </div>
      </div>
      <div class="divider"></div><br>
      <button type="submit" class="btn btn-lg btn-primary btn-large">저장</button>
    </form>
  </div>
</div>

<%= render 'layouts/admin_footer' %>
